test/map-variable.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns="tag:dmaus@dmaus.name,2019:Schematron:Testsuite">
    <sch:ns prefix="html" uri="http://www.w3.org/1999/xhtml"/>
    <sch:let name="foobar" value='map{}'>
    </sch:let>
    <sch:pattern>
        <sch:rule context="/">
            <sch:assert test="$foobar instance of map(*)"><sch:value-of select='count($foobar)'/></sch:assert>
            <sch:assert test="count($foobar) = 1"><sch:value-of select='count($foobar)'/></sch:assert>
        </sch:rule>
    </sch:pattern>
</sch:schema>
