test/user-defined-function.xml

<sch:schema xmlns:sch='http://purl.oclc.org/dsdl/schematron'>
      <sch:ns prefix='myfunc' uri='xyz'/>
      <function xmlns='http://www.w3.org/2012/xquery'>
      declare function myfunc:test($arg as xs:string) as xs:string{$arg};
      </function>
      <sch:pattern>
        <sch:rule context="/">
          <sch:report test="root"><sch:value-of select='myfunc:test(name(root))'/></sch:report>
        </sch:rule>
      </sch:pattern>
    </sch:schema>